<!-- <form [formGroup]="myForms">
    <div formArrayName="phones">
        <div *ngFor="let phone of PhoneForms.controls;let i = index" [formGroupName]="i">
            <input formControlName="email">
            <input formControlName="prefix">
            <button (click)="deletePhone(i)">Delete</button>
        </div>
    </div>
    <button (click)="addPhone()">Add Phone</button>
</form> -->

<form [formGroup]="myForm" class="form-inline">
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="number" class="form-control" formControlName="phone">
    </div>
    <div formArrayName="phones">
        <div *ngFor="let phone of phoneForms.controls;let i = index;" [formGroupName]="i">
            <div class="form-group">
                <label for="phone">Alt Phone:</label>
                <input type="number" class="form-control" formControlName="altPhone">
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary"(click)="deletePhone(i)">Delete</button>
            </div>
            
        </div>
        
    </div>


</form>
<button (click)="addPhone()">Add Phone</button>

<
